{% extends 'base.html' %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}

<h1>Welcome {{user.first_name}}</h1>

<ul>
    {{user.first_name}} {{user.last_name}}
    <li>{{user.username}}</li>
    <li>{{user.email}}</li>
</ul>

<h2>Feedback</h2>
<ul>
    {% for fb in user.feedback %}
    <li><a href="/feedback/{{fb.id}}/update">{{fb.title}}</a></li>
    {% endfor %}
</ul>

<a href="/users/{{user.username}}/feedback/add">
    <button>Add Feedback</button>
</a>

<a href="/users/{{user.username}}/delete">
    <button>Delete User</button>
</a>

{% endblock %}